@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-primary antialiased selection:bg-white/20;
		font-feature-settings: "ss01", "ss02", "cv01", "cv02";
	}

	/* Lenis smooth scroll required styles */
	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}
}